extends layout

block styles
  link(rel="stylesheet" href="bulma.css")
  link(rel="stylesheet" href="style.css")
  link(rel="stylesheet" href="home.css")

block content
  .section#createPoll
    .columns
      .column.is-narrow.div.mcenter
        .section(style='max-width: 640px')
          .card
            .card-content
              .content.tcenter
                p.tleft Ever had a long list of shows you want to watch and don't know where to start? What if you could create a poll out of your list, share it with your friends, and have them vote on what you should watch next?
                p.tleft For fans of anime, #[strong Pick] makes this easy by creating a poll out of a MyAnimeList Plan To Watch list which can be shared on social media.
                p.tleft If you aren't a fan of anime and don't have a MAL account, no problem! You can still see the site in action using the demo account.
                p Username: pickdemo
                p Password: p1ckm03d3m0
                p.tleft Just enter your Myanimelist login and get a poll in seconds! Then click the link to your new poll and vote for something to see the results!
        .section(style='max-width: 400px').mcenter
          .card
            header.card-header
              p.card-header-title Create a Poll
            .card-content
              .content
                form.tcenter(id='credentials' action='/mal/list' method='post')
                  p Please enter your MyAnimeList login.
                  p These values will never be stored. #[i(id='help' class='fa fa-question-circle-o' aria-hidden='true')]
                  .field
                    p.control.tcenter
                      input(type='text' id='mal-username' placeholder='mal username' value='pickdemo' required)
                  .field
                    p.control.tcenter
                      input(type='password' id='mal-password' placeholder='mal password' value='p1ckm03d3m0' required)
                    .mal-error.error
                  .field
                    p.control.tcenter
                      button.button#submitForm Submit
                  #mal-error.tcenter.error
  .section.hidden#newList
    .columns
      .column.is-narrow.div.mcenter
        .box(style='max-width: 400px; margin: 0 auto')
          p.tcenter Success! Your poll can be found here:
          p.tcenter#link link goes here
          p.tcenter
            button#reddit Post on reddit #[i(class='fa fa-reddit' aria-hidden='true')]
          p.tcenter#twitter
          p.tcenter Need to refresh your list or reset votes? Just log in again on the homepage!
  .modal#helpModal
    .modal-background
    .modal-content
      .box(style='max-width: 400px; margin: 0 auto')
        h4.tcenter Why do I have to enter my password?
        p This is to ensure that only the owners of Myanimelist accounts can reset their lists. Otherwise anyone could reset your vote total at any time!
        h4.tcenter Is it secure?
        p Pick uses the same technology that MAL does for security. Your credentials will be passed along to MAL to make sure you are a valid user, and then immediately discarded. #[a(href='https://github.com/gilmoreg/pick/blob/master/controllers/mal.js' rel='noopener noreferrer' target='_blank') See the source code here].
    button.modal-close
  .modal#redditModal
    .modal-background
    .modal-content
      .box(style='max-width: 400px; margin: 0 auto')
        p.tcenter#reddit Post on reddit #[i(class='fa fa-reddit' aria-hidden='true')]
        hr
        p.tcenter Copy and paste into a Reddit comment!
        p.tcenter #[input(id="reddit-md")]
          button.copy(data-clipboard-target='#reddit-md') #[i(class='fa fa-clipboard' aria-hidden='true')]
    button.modal-close

block scripts
  script(src="https://platform.twitter.com/widgets.js" charset="utf-8")
  script(type="text/javascript" src="/clipboard.min.js")
  script(type="text/javascript" src="/scripts/home.js")