extends layout

block styles
  link(rel="stylesheet" href="home.css")

block content
  .section#createPoll
    .columns
      .column.is-narrow.div.mcenter
        .card
          header.card-header
            p.card-header-title Create a Poll
          .card-content
            .content
              form.tcenter(id='credentials' action='/mal/list' method='post')
                p Please enter your MyAnimeList login.
                p These values will never be stored.
                .field
                  p.control.tcenter
                    input(type='text' id='mal-username' placeholder='mal username' required)
                .field
                  p.control.tcenter
                    input(type='password' id='mal-password' placeholder='mal password' required)
                  .mal-error.error
                .field
                  p.control.tcenter
                    button(disabled).button#submitForm Submit
  .section.hidden#newList
    .columns
      .column.is-narrow.div.mcenter
        .card
          header.card-header
            p.card-header-title Create a Poll
          .card-content
            .content
              p Success! Your poll can be found here:
              p here be a link
              p post on reddit
              p tweet out
              p bbcode

block scripts
  script(type="text/javascript" src="/scripts/home.js")