#poll {
  max-width: 540px;
  margin: 0 auto;
}

#poll li {
  padding-top: 5px;
  cursor: pointer;
}

.vote-count {
  text-align: right;
}

.modal-box {
  max-width: 400px;
  margin: 0 auto;
}

.modal-box img {
  border-radius: 2px;
}

.vote-button {
  width: 100%;
}

.voted-for {
  border: 1px solid #6FCBAF;
  background-color: #6FCBAF;
  border-radius: 5px;
}